@import 'helpers/variables';
@import 'helpers/mixins';
@import 'modules/tab-menu';
@import 'modules/header';
@import 'modules/table';
@import 'modules/footer';
@import 'modules/modal';
@import 'modules/unsemantic-grid-responsive';
@import 'modules/unsemantic-grid-responsive-tablet';

body {
	background: $lightgrey;
	color: $grey;
	font: 400 14px/1.3em 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	margin: 0;
	padding: 0;
}

a {
	color: $blue;
	&:hover{
		color: $purple;
	}
}

h1 {
	float: left;
	margin: 3px 0;
	padding: 0;
	a {
		display: block;
		height: 37px;
		width: 152px;
		@include hide-text;
		@include retina-background-image('urbank', 152px, 37px);
	}
}

h2 {
	color: $purple;
	font-size: 36px;
	font-weight: 200;
	margin: 3px 0 0 -1px;
	padding: 0;
}

h3 {
	font-size: 28px;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}
h5 {
	color: $blue;
	font-size: 16px;
	font-weight: 200;
	padding: 0;
}
p {
	margin: 37px 0 0 0;
}

.button {
	background-color: $purple;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin: 0;
	padding: 10px;
	@include transition(background-color, 0.2s, linear);

	&:hover {
		background-color: #490245;
	}
}

/////////////////////////////////
// Body
/////////////////////////////////


.grid-container {
	max-width: 930px;
}

.page-wrap {
	background-color: #fff;
	padding: 65px 0;
}

.awesome-points {
	margin-bottom: 30px;
	h4 {
		margin: 20px 0 0 0;
	}
	ul {
		list-style-position: inside;
		padding: 0;
		li {
			margin-bottom: 2px;
		}
	}
}

blockquote {
	background-color: #bbd8c4;
	margin: 0;
	padding: 14px;
	position: relative;
	.mobile {
		width: 80%;
		@media only screen and (max-width: 930px) {
			width: 70%;
		}
		@media only screen and (max-width: 700px) {
			width: 100%;
		}

		h4 {
			color: $purple;
			margin: 0 0 10px 0;
		}

		p{
			margin: 0;
			padding: 0;
		}
	}

	i {
		display: block;
		height: 177px;
		width: 104px;
		position: absolute;
		bottom: 12px;
		right: 30px;

		@include retina-background-image('iphone', 104px, 177px);
		@media only screen and (max-width: 700px) {
			display: none;
		}
	}
}


.grid-25 > button {
	margin: 0 0 25px 0;
	width: 100%;
	@media only screen and (max-width: 930px) {
		margin-top: 20px; 
	}
}
