@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/modal';
@import 'modules/unsemantic-grid-responsive';

body {
	background: $lightgrey;
	color: $grey;
	font: 400 14px/1.3em 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	margin: 0;
	padding: 0;
}

a {
	color: $blue;
	&:hover{
		color: $purple;
	}
}

h1 {
	float: left;
	margin: 3px 0;
	padding: 0;
	a {
		display: block;
		height: 37px;
		width: 152px;
		@include hide-text;
		@include retina-background-image('urbank', 152px, 37px);
	}
}

h2 {
	color: $purple;
	font-size: 36px;
	font-weight: 200;
	margin: 3px 0 0 -1px;
	padding: 0;
}

h3 {
	font-size: 28px;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}
h5 {
	color: $blue;
	font-size: 16px;
	font-weight: 200;
	padding: 0;
}
p {
	margin: 37px 0 0 0;
}

.button {
	background-color: $purple;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	margin: 0;
	padding: 10px;
	@include transition(background-color, 0.2s, linear);

	&:hover {
		background-color: #490245;
	}
}

/////////////////////////////////
// Header
/////////////////////////////////

header {
	background-color: $blue;
	overflow: hidden;

	nav {
		float: right;
		font-size: 16px;
		text-transform: lowercase;

		@media only screen and (max-width: 630px) {
			clear: left;
			float: none;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			li {
				float: left;
				height: 45px;
				position: relative;
				@include transition(background-color, 0.2s, linear);

				@media only screen and (max-width: 540px) {
					float: none;
					margin: 0 auto;
				}

				a {
					color: #fff;
					display: block;
					margin: 0;
					padding: 14px;
					text-decoration: none;
					@include transition(color, 0.2s, linear);

					&:hover {
						color: #fff;
					}
				}

				&:hover {
					background-color: darken($blue, 5%);
				}
				&.active {
					background-color: $darkblue;
					font-weight: 900;
				}
			}
		}
	}
}

/////////////////////////////////
// Left Column
/////////////////////////////////

.grid-container {
	max-width: 930px;
}

.page-wrap {
	background-color: #fff;
	padding: 65px 0;
}

.awesome-points {
	margin-bottom: 30px;
	h4 {
		margin: 20px 0 0 0;
	}
	ul {
		list-style-position: inside;
		padding: 0;

		li {
			margin-bottom: 2px;
		}
	}
}

blockquote {
	background-color: #bbd8c4;
	margin: 0;
	padding: 14px;
	position: relative;
	.mobile {
		width: 80%;
		@media only screen and (max-width: 930px) {
			width: 70%;
		}
		@media only screen and (max-width: 700px) {
			width: 100%;
		}

		h4 {
			color: $purple;
			margin: 0 0 10px 0;
		}

		p{
			margin: 0;
			padding: 0;
		}
	}

	i {
		display: block;
		height: 177px;
		width: 104px;
		position: absolute;
		bottom: 12px;
		right: 30px;

		@include retina-background-image('iphone', 104px, 177px);
		@media only screen and (max-width: 700px) {
			display: none;
		}
	}
}

/////////////////////////////////
// Table
/////////////////////////////////

.rates {
	h3 {
		border-right: 1px solid #333;
		float: left;
		margin: 49px 0 30px 0;
		padding: 12px 10px 12px 0;
	}
	p.intro {
		display: inline-block;
		font-size: 28px;
		margin: 61px 0 0 15px;
	}

	@media only screen and (max-width: 540px) {
		h3,
		p.intro {
			font-size: 24px;
		}
	}

	table {	
		border-collapse: collapse; 
		border-spacing: 0;
		font-size: 16px;
		width: 100%;
		
		th {
			background-color: #fff;
			font-size: 12px;
			font-weight: 100;
			text-align: right;

			@media only screen and (max-width: 400px) {
				font-size: 0.4em;
				font-weight: 300;
				line-height: 1.4;
				width: 50%;
			}
		}

		tr {
			background-color: #eef5f0;
		}
		tr:nth-child(even){
			background-color: #ddebe1;
		}
		tr:first-child {
			font-size: 18px;
			font-weight: 900;
		}
		td {
			padding: 1rem;
			text-align: right;
			width: 33.33%;
		}
		td:first-child {
			text-align: left;
		}
	}
}

/////////////////////////////////
// Right Column
/////////////////////////////////

.grid-25 > button {
	margin: 0 0 25px 0;
	width: 100%;
}

.side-bar {
	ul.tabs {
		float: left;
		list-style: none;
		padding: 0;

		.left-tab {
			border-right: #ccc;
			border-top: #ccc;
			height: 44px;
			position: relative;
			width: 77px;
		}

		li {
			display: inline;
			
			a {
				background: #999;
				color: blue; 
				display: block; 
				float: left; 
				padding: 4px 10px; 				
				position: relative;
				text-decoration: none;

				&:hover {
					background: violet;
				}
			}
		}
	}
}

/////////////////////////////////
// Footer
/////////////////////////////////
footer {
	font-size: 16px;
	height: 100px;

	@media only screen and (max-width: 540px) {
		margin: 20px auto 10px;
		font-size: 12px;
	}

	h5 {
		float: left;
		margin: 20px 0;
		padding: 0;

		@media only screen and (max-width: 540px) {
			float: none;
			margin: 20px auto 10px;
			text-align: center;
		}
	}

	nav {
		float: right;
		text-transform: lowercase;

		@media only screen and (max-width: 540px) {
			float: none;
			margin: 0 auto;
			display: table;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				padding: 20px 0 0 20px;

				@media only screen and (max-width: 540px) {
					padding: 5px;
					text-align: center;
				}
				
				a {
					color: $blue;
					text-decoration: none;
					@include transition(color, 0.2s, linear);

					&:hover {
						color: $darkblue;
					}
				}

				&.active {
					font-weight: 900;
				}
			}
		}
	}
}